html {
    scroll-padding-top: 30px;
}

.navbar-link {
    color: white !important;
    font-size: 14px;
    font-weight: 500;
}

.navbar-link:hover {
    text-decoration: underline;
    color: white;
}

@media (max-width: 1312px) {
    .mainImg {
        width: 90vw !important;
    }
}

@media (max-width: 632px) {
    #logo {
        width: 90vw !important;
    }
}

.nav-pills .nav-link {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid lightgray;
}

.lead {
    font-weight: 400;
}

button:focus {
    outline: none !important;
}

.btn:focus {
    box-shadow: none;
}

.btn2 {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 5px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 0px 2px 0px #00000070;
}

.btn2:hover {
    background: linear-gradient(to bottom, #58A2F7 5%, #3477E2 100%);
    background-color: #58A2F7;
    color: white;
    text-decoration: none;
}

.btn2:active {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
    color: white;
    text-decoration: none;
}

.btn2:focus {
    outline: none;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.fade-in {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-link {
    display: block;
    padding: .5rem 1rem !important;
}

.os-glyph {
    width: 24px;
    height: 24px;
    vertical-align: -6px;
    margin-right: 0.2em;
}

.inline-code {
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    border: 1px solid #00000030;
    border-radius: 4px;
    font-family: var(--font-family-monospace);
    word-wrap: break-word;
    display: inline !important;
    background-color: #ffffff;
}

.version {
    font-family: var(--font-family-monospace);
    font-size: 13px;
}

.sum {
    font-family: var(--font-family-monospace);
    font-size: 13px;
    vertical-align: 1px;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.os-button {
    padding: 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px;
    width: 145px;
}

.download-header {
    background: rgb(147, 80, 147);
    background: -moz-linear-gradient(36deg, rgba(147, 80, 147, 1) 10%, rgba(255, 122, 39, 1) 50%, rgba(255, 80, 39, 1) 90%);
    background: -webkit-linear-gradient(36deg, rgba(147, 80, 147, 1) 10%, rgba(255, 122, 39, 1) 50%, rgba(255, 80, 39, 1) 90%);
    background: linear-gradient(36deg, rgba(147, 80, 147, 1) 10%, rgba(255, 122, 39, 1) 50%, rgba(255, 80, 39, 1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#935093", endColorstr="#ff5027", GradientType=1);
    margin-bottom: 50px;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 25px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 26px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.dlCount {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    background-color: #EDEDED;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    text-shadow: 2px 2px #00000020;
    text-align: center;
}

.key-symbol {
    font-size: 14px;
    font-weight: 600;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    border: 1px solid #00000030;
    border-radius: 4px;
    word-wrap: break-word;
    display: inline !important;
    background: white;
    color: #333333;
    box-shadow: 0px 2px 0px 0px #b5b4b4;
    font-family: var(--font-family-monospace);
}

table {
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table, th, td {
    border: 1px solid #C9C9C9;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #EDEDED;
}

tr:nth-child(odd) {
    background-color: #F8F9FA;
}

.codeSnippet {
    background-color: #282c34;
    color: #abb2bf;
    padding: 0.5em;
    border: 1px solid #00000030;
    border-radius: 5px;
    font-family: var(--font-family-monospace);
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-line;
    font-size: 14px;
    line-height: 1.5;
    position: static;
}

.docVideo {
    width: 75%;
    max-width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    margin-top: 20px;
    margin-bottom: 20px;
}